/* unvisited link */
a{
    font-family: 'Open Sans Condensed', arial, sans;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 30px;
    font-weight: bold;
}
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
    font-weight: bold;
}
body{
    background-color: graytext;
    background-image: url("pics/golfdayback.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bodycontent {
    max-width: 800px;
    padding: 30px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 25px;
    margin: 10px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 750px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #9CBF49;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 40px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #000000;
    -webkit-box-shadow: inset 0px 1px 0px 0px #000000;
    box-shadow: inset 0px 1px 0px 0px #000000;
    background-color: #9CBF49;
    border: 1px solid #9CBF49;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #9CBF49 5%, #FFFFFF 100%);
    background-color:#FFFFFF;
}